/*/* COLOR SET 1 */
a:hover,
.top-bar-right-area > ul > li > a > i.fas,
.top-bar-account-buttons a,
.common-padded-box-header span,
.common-padded-box-header a:hover,
.single-product-new-price,
.single-feature-store-info .percentage span.bordered,
.have-store-info h4 a,
.have-store-info .action-links .blanked,
.single-feature-icon,
.scroll-to-top,
.registration-login-form .form-group .terms-check label a,
.register-login-footer a,
.forget-pasword a,
.seller-profile-sidebar-menu ul li.active a span.icon,
.seller-profile-content-breadcumb ul li a:hover,
.texted-link,
.bordered-link,
.seller-profile-form .form-group label small,
.store-location-delete,
.slider-image-delete,
.customer-choice-delete,
.product-image-delete,
.cupon-types ul li.active a,
.wallet-summary-card-icon,
.following-deal-store-link,
.wishlist-product-store-link,
.wishlist-product-price span.new-peice,
.wishlist-product-delete,
.invitation-option-summary-wrapper .text,
.product-name-area a,
.product-details-description-review-area .nav-tabs .nav-item.show .nav-link,
.product-details-description-review-area .nav-tabs .nav-link.active,
.product-details-info-breadcumb ul li a,
.product-meta-details.product-price-info .new-price,
.product-related-shop-details h3 a:hover,
.cart-to-payment-links li.active .icon,
.cart-item-remove-btn,
.checkout-continue-clear-buttons a,
.checkout-continue-clear-buttons button,
.right-side.single-shipping-address-action a,
.right-side.single-shipping-address-action button,
.add-shipping-address:hover .text,
.add-shipping-address:hover .icon,
.cart-coupon-code-area.seller-profile-form h3 .clear-coupon,
.e-wallet-credit-amount .right-side span.amount-text,
.e-wallet-partial-credit-amount .right-side .amount-text,
.e-wallet-partial-credit-amount-slider-message span,
.payment-method-list-area h3 .icon,
.meta-description-message .number,
.single-product-filter-option.active .option-check,
.single-product-filter-option.active .option-name,
.header-cart-item-details .item-quantity-pirce .item-price,
.shop-details-nav ul li a.active,
.single-store-location .store-name-icon .icon,
.single-store-location .store-phone .icon,
.common-page-content a,
.order-details-info ul li span.order-number,
.order-list-table table td.description .product-name,
.order-details-info.order-sub-total-info ul li span.total-amount-bold,
.operating-hours-area h5,
.common-padded-box-header h3 a,
.top-bar-notification-area ul li a:hover span.info .title,
.common-padded-box-header .nav.nav-tabs .nav-item.nav-link.active,
.seller-profile-panel-body h4 span,
.rewards-deals-details h4 a,
.rewards-deals-details h4 span,
.rewards-deals-results-details h4 a,
.rewards-deals-results-details h4 span,
.deals-name-and-code .code,
.header-fixed .top-bar-right-area ul li.dropdown.account-links .dropdown-menu a:not(.active),
.products-load-more-button,
.rateit .rateit-preset,
.single-chat-box-header-right button:hover,
.single-chat-box-header-right span:hover,
.custom-other-radio-wrapper .custom-control-input:checked ~ .custom-control-label,
.blog-details-image-credits a,
.blog-related-author-posts .nav-tabs .nav-item.show .nav-link,
.blog-related-author-posts .nav-tabs .nav-link.active,
.blog-page-area .common-padded-box-header h3 a:hover,
a.order-details-print:hover {
    color: #1f87cd !important;
}

.header-menu ul li a span.number,
.header-search-form button,
.top-bar-right-area .dropdown-item.active,
.top-bar-right-area .dropdown-item:active,
.top-bar-language-country-currency-form input[type='submit'],
.hero-area:before,
.hero-search-form input[type='submit'],
.common-padded-box-header h3:before,
.common-padded-box-header a:hover:before,
.single-feature-store-info .percentage span.boxed,
.filled-link,
.have-store-info .action-links .filled,
.newsletter-form button[type='submit'],
.footer-links ul li a:before,
.products-load-more-button:hover,
.registration-login-form .form-group button,
.seller-profile-sidebar-menu ul li.active a:hover,
.seller-profile-sidebar-menu ul li a:hover,
.seller-earnings-amount,
.onoffswitch .onoffswitch-inner:before,
.seller-profile-form .bootstrap-tagsinput .tag,
.seller-profile-form input.seller-form-submit,
.select2-container--default .select2-results__option--highlighted[aria-selected],
.dropdown-item.active,
.dropdown-item:active,
.action .btn-secondary:not(:disabled):not(.disabled).active,
.action .btn-secondary:not(:disabled):not(.disabled):active,
.action .show > .btn-secondary.dropdown-toggle,
.seller-profile-content-header h3 a,
.input-group.date input:focus + .input-group-addon,
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active:active,
.be-a-seller a,
.wishlist-product-add-to-cart,
.invitation-link-copy-button,
.image-file-preview-detete,
.imageuploadify .imageuploadify-images-list .imageuploadify-container button.btn-danger,
.product-details-tags ul li a,
.product-meta-details.product-shipping-details .free-shipping,
.quantity-add-remove .quantity input[type='submit']:focus,
.quantity-add-remove .quantity input[type='button']:focus,
.product-action-list button,
.product-related-shop-details .product-related-shop-follow-btn,
.product-review-form-area h3:before,
.btn-submit,
.product-review-form-buttons .btn-submit,
.product-review-form input[type='submit'],
.checkout-continue-clear-buttons .submit,
.cart-coupon-code-area.seller-profile-form h3 .clear-coupon:hover,
button.btn-submit,
span.ui-slider-handle.ui-corner-all.ui-state-default,
.product-view-button,
.product-search-form button,
.product-grid-list-option button.active,
.product-single-options ul li.active a,
.product-pagination ul li:hover a,
.menu-cart-button a .number,
.header-go-to-cart-btn,
.shop-follow-area .shop-follow-btn,
.shop-store-location-area h3:before,
.rewards-deals-results-btn,
.bootstrap-datetimepicker-widget table td .btn-primary:not(:disabled):not(.disabled).active,
.bootstrap-datetimepicker-widget table td .btn-primary:not(:disabled):not(.disabled):active,
.bootstrap-datetimepicker-widget table td .show > .btn-primary.dropdown-toggle,
.bootstrap-datetimepicker-widget table td .btn-primary.disabled,
.bootstrap-datetimepicker-widget table td .btn-primary:disabled,
.category-mega-menu-mobile-container.hc-offcanvas-nav li.level-open > a,
.swal2-styled.swal2-confirm,
.top-bar-account-buttons a.active,
.mobile-category-mega-menu-button-wrapper .mobile-category-mega-menu-button.hc-nav-trigger,
.chat-user-list-header-wrapper,
.trending-blog,
.trending-blog-list-carousel .owl-nav button:hover,
.blog-categories ul li,
.single-recommend-product-buy-button,
.blog-tags ul li.tag-title {
    background-color: rgb(243, 244, 245);
}

.single-feature-store-info .percentage span.bordered,
.single-feature-store-info .percentage span.boxed,
.bordered-link,
.select2-container--default.select2-container--above.select2-container--open
    .select2-selection--single,
.cart-coupon-code-area.seller-profile-form h3 .clear-coupon,
.hero-search-form.search-page-search-form input:focus,
.header-search-form,
.newsletter-form input[type='email'],
.products-load-more-button,
.header-fixed .top-bar-right-area > ul > li > a span.number,
.single-product-review-option.active .option-radio,
.single-most-wanted-product:hover,
.registration-login-form .form-group input:focus,
.seller-profile-sidebar-menu ul li.active a,
.seller-profile-sidebar-menu ul li a:hover,
.seller-product-list ul li a:hover,
.seller-profile-form .form-group .form-control:focus,
.select2-container .select2-selection--single:focus,
.select2-container--default .select2-selection--single .select2-selection__rendered:focus,
.select2.select2-container.select2-container--default.select2-container--above.select2-container--focus:focus,
.imageuploadify .imageuploadify-images-list .imageuploadify-container button.btn-danger,
.custom-other-radio-wrapper .custom-control-input:checked ~ .custom-control-label,
.product-review-form input:focus,
.product-review-form textarea:focus,
.cart-to-payment-links li.active .icon,
.single-shipping-address-box input[type='radio']:checked ~ .single-shipping-address-label,
.add-shipping-address:hover,
.owl-carousel .owl-item.active.current .single-product-details-images-thumbnail,
.single-product-filter-option.active .option-check,
.product-search-form input[type='text']:focus,
a.order-details-print:hover,
.single-box-category:hover,
.single-feature-box:before,
.common-padded-box.featured-box,
.single-feature-box:after,
.product-list-view .single-product-image,
.single-product-image,
.m-tab-header,
.trending-blog-list-carousel .owl-nav button:hover,
.single-recommend-product-buy-button,
.blog-related-author-posts .nav-tabs .nav-item.show .nav-link,
.blog-related-author-posts .nav-tabs .nav-link.active,
.blog-tags ul li.tag-title,
.seller-profile-form
    .select2-container--default.select2-container--focus
    .select2-selection--multiple {
    border-color: #1f87cd !important;
}
.swal2-styled.swal2-confirm {
    border-left-color: #1f87cd !important;
    border-right-color: #1f87cd !important;
}

/* COLOR SET 2 */
.header-menu ul li a span.number,
.header-search-form button,
.top-bar-language-country-currency-form input[type='submit'],
.top-bar-account-buttons a.active,
.top-bar-account-buttons a.active:hover,
.hero-search-form input[type='submit'],
.hero-search-form input[type='submit']:hover,
.single-feature-store-info .percentage span.boxed,
.filled-link,
.have-store-info .action-links .filled,
.newsletter-form button[type='submit'],
.products-load-more-button:hover,
.registration-login-form .form-group button,
.seller-profile-sidebar-menu ul li.active a:hover,
.seller-profile-sidebar-menu ul li.active a:hover span.icon,
.seller-profile-sidebar-menu ul li a:hover,
.seller-earnings-amount,
.filled-link:hover,
.onoffswitch .onoffswitch-inner:before,
.seller-profile-form input.seller-form-submit,
.seller-profile-form input.seller-form-submit:hover,
.action .btn-secondary:not(:disabled):not(.disabled).active,
.action .btn-secondary:not(:disabled):not(.disabled):active,
.action .show > .btn-secondary.dropdown-toggle,
.seller-profile-content-header h3 a,
.input-group.date input:focus + .input-group-addon,
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active:active,
.be-a-seller a,
.wishlist-product-add-to-cart,
.wishlist-product-add-to-cart:hover,
.invitation-link-copy-button,
.image-file-preview-detete,
.product-details-tags ul li a,
.product-details-tags ul li a:hover,
.product-meta-details.product-shipping-details .free-shipping,
.quantity-add-remove .quantity input[type='submit']:focus,
.quantity-add-remove .quantity input[type='button']:focus,
.product-action-list button,
.product-action-list button:hover,
.product-related-shop-details .product-related-shop-follow-btn,
.btn-submit,
.product-review-form-buttons .btn-submit,
.product-review-form input[type='submit'],
.btn-submit:hover,
.product-review-form-buttons .btn-submit:hover,
.product-review-form input[type='submit']:hover,
.checkout-continue-clear-buttons .submit,
.checkout-continue-clear-buttons .submit:hover,
.cart-coupon-code-area.seller-profile-form h3 .clear-coupon:hover,
button.btn-submit,
button.btn-submit:hover,
.product-view-button,
.product-view-button:hover,
.product-search-form button,
.product-search-form button:hover,
.product-grid-list-option button.active,
.product-single-options ul li.active a,
.product-pagination ul li:hover a,
.menu-cart-button a .number,
.header-go-to-cart-btn,
.header-go-to-cart-btn-wrapper .header-go-to-cart-btn:hover,
.shop-follow-area .shop-follow-btn,
.shop-follow-area .shop-follow-btn:hover,
.rewards-deals-results-btn,
.mobile-category-mega-menu-button-wrapper .mobile-category-mega-menu-button.hc-nav-trigger,
.mobile-category-mega-menu-button-wrapper .mobile-category-mega-menu-button.hc-nav-trigger,
.category-mega-menu-mobile-container.hc-offcanvas-nav li.level-open > a,
.bootstrap-datetimepicker-widget table td .btn-primary:not(:disabled):not(.disabled).active,
.bootstrap-datetimepicker-widget table td .btn-primary:not(:disabled):not(.disabled):active,
.bootstrap-datetimepicker-widget table td .show > .btn-primary.dropdown-toggle,
.bootstrap-datetimepicker-widget table td .btn-primary.disabled,
.bootstrap-datetimepicker-widget table td .btn-primary:disabled,
.bootstrap-datetimepicker-widget table td .btn-primary:hover,
.datepicker table tr td.active.active.focus,
.datepicker table tr td.active.active:focus,
.datepicker table tr td.active.active:hover,
.datepicker table tr td.active.highlighted.active.focus,
.datepicker table tr td.active.highlighted.active:focus,
.datepicker table tr td.active.highlighted.active:hover,
.datepicker table tr td.active.highlighted:active.focus,
.datepicker table tr td.active.highlighted:active:focus,
.datepicker table tr td.active.highlighted:active:hover,
.datepicker table tr td.active:active.focus,
.datepicker table tr td.active:active:focus,
.datepicker table tr td.active:active:hover,
.header-fixed .top-bar-right-area ul li.dropdown.account-links .dropdown-menu a.active,
.other-register-login-option ul li a,
.product-share ul li a:hover,
.invitation-share ul li a:hover,
.common-page-content a.rewards-deals-results-btn,
.common-page-content a.rewards-deals-results-btn:hover,
.table-actions .dropdown-item:hover,
.single-hero-blog:hover,
.single-recommend-product-buy-button,
.single-recommend-product-buy-button:hover,
.status,
.single-feature-store-info .status {
    color: #fff !important;
}
.category-mega-menu-mobile-container.hc-offcanvas-nav li.level-open > a span.nav-next:before,
.header-fixed .header-search-form {
    border-color: #fff !important;
}

.header-fixed .header-area {
    background: #fff;
}

.forget-pasword a:hover,
.texted-link:hover,
.bordered-link:hover,
.following-deal-store-link:hover,
.wishlist-product-store-link:hover,
.wishlist-product-delete:hover,
.have-store-info .action-links .blanked:hover,
.product-name-area a:hover,
.product-details-info-breadcumb ul li a:hover,
.checkout-continue-clear-buttons a:hover,
.checkout-continue-clear-buttons button:hover,
.see-all-notification:hover,
.common-page-content a:hover,
.blog-details-image-credits a:hover {
    color: #1777b8 !important;
}
.top-bar-account-buttons a.active:hover,
.hero-search-form input[type='submit']:hover,
.filled-link:hover,
.have-store-info .action-links .filled:hover,
.seller-profile-content-header h3 a:hover,
.wishlist-product-add-to-cart:hover,
.invitation-link-copy-button.active,
.product-details-tags ul li a:hover,
.product-action-list button:hover,
.product-related-shop-details .product-related-shop-follow-btn:hover {
    background-color: #1777b8 !important;
}

.btn-submit,
.product-review-form-buttons .btn-submit,
.product-review-form input[type='submit'],
.checkout-continue-clear-buttons .submit,
button.btn-submit,
span.ui-slider-handle.ui-corner-all.ui-state-default,
.product-view-button,
.product-search-form button,
.product-grid-list-option button.active,
.product-single-options ul li.active a,
.product-pagination ul li:hover a,
.header-go-to-cart-btn,
.shop-follow-area .shop-follow-btn,
.rewards-deals-results-btn,
.registration-login-form .form-group button,
.seller-profile-sidebar-menu ul li.active a:hover,
.seller-earnings-amount,
.bordered-link:hover,
.seller-profile-form input.seller-form-submit,
.action .btn-secondary:not(:disabled):not(.disabled).active,
.action .btn-secondary:not(:disabled):not(.disabled):active,
.action .show > .btn-secondary.dropdown-toggle,
.be-a-seller a,
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active:active,
.quantity-add-remove .quantity input[type='submit']:focus,
.quantity-add-remove .quantity input[type='button']:focus,
.product-related-shop-details .product-related-shop-follow-btn,
.bootstrap-datetimepicker-widget table td .btn-primary:not(:disabled):not(.disabled).active,
.bootstrap-datetimepicker-widget table td .btn-primary:not(:disabled):not(.disabled):active,
.bootstrap-datetimepicker-widget table td .show > .btn-primary.dropdown-toggle,
.bootstrap-datetimepicker-widget table td .btn-primary.disabled,
.bootstrap-datetimepicker-widget table td .btn-primary:disabled {
    border-color: #1777b8 !important;
}
.btn-submit:hover,
.product-review-form-buttons .btn-submit:hover,
.product-review-form input[type='submit']:hover,
.checkout-continue-clear-buttons .submit:hover,
button.btn-submit:hover,
.product-view-button:hover,
.product-search-form button:hover,
.header-go-to-cart-btn-wrapper .header-go-to-cart-btn:hover,
.shop-follow-area .shop-follow-btn:hover,
.rewards-deals-results-btn:hover,
.registration-login-form .form-group button:hover,
.seller-profile-form input.seller-form-submit:hover,
.be-a-seller a:hover,
.product-related-shop-details .product-related-shop-follow-btn:hover,
.bootstrap-datetimepicker-widget table td .btn-primary:hover,
.single-recommend-product-buy-button:hover {
    background-color: #1777b8 !important;
    border-color: #0d649e !important;
}
.datepicker table tr td.active.active.focus,
.datepicker table tr td.active.active:focus,
.datepicker table tr td.active.active:hover,
.datepicker table tr td.active.highlighted.active.focus,
.datepicker table tr td.active.highlighted.active:focus,
.datepicker table tr td.active.highlighted.active:hover,
.datepicker table tr td.active.highlighted:active.focus,
.datepicker table tr td.active.highlighted:active:focus,
.datepicker table tr td.active.highlighted:active:hover,
.datepicker table tr td.active:active.focus,
.datepicker table tr td.active:active:focus,
.datepicker table tr td.active:active:hover {
    background-color: #0d649e !important;
    border-color: #0a5a8f !important;
}

.custom-color-radio-wrapper .custom-control-input:checked ~ .custom-control-label {
    box-shadow: 0 0 0 2px rgba(31, 135, 205, 0.75) !important;
}
.product-related-shop-image {
    border-color: rgba(31, 135, 205, 0.5) !important;
}
.no-product-review-message {
    background-color: rgba(31, 135, 205, 0.25) !important;
    border-color: rgba(31, 135, 205, 0.3) !important;
}

.common-padded-box-header a,
.single-product-store,
.flash-deals-timer .syotimer-cell:before {
    color: #9e9e9e !important;
}
.common-padded-box-header a:before {
    background-color: #444 !important;
}

.flash-deals-timer .syotimer__body .syotimer-cell {
    background-color: #444 !important;
    color: #fff !important;
}
.single-product-image .off-sticker {
    background-color: #f7fb00 !important;
    color: #fff !important;
}
.single-product-image .off-sticker:before,
.single-product-image .off-sticker:after {
    border-top: 6px solid #f7fb00;
}
.single-product-image .off-sticker .offer-number {
    color: #333;
}

.header-fixed .top-bar-left-area ul li a,
.header-fixed .top-bar-right-area ul li a {
    color: rgba(49, 53, 59, 0.68);
}
.header-fixed .top-bar-left-area ul li .dropdown-menu a,
.header-fixed .top-bar-right-area ul li .dropdown-menu a {
    color: #1d1d1d !important;
}
.header-fixed .top-bar-left-area ul li a:hover,
.header-fixed .top-bar-right-area ul li a:hover {
    color: #ddd !important;
}
/*.header-fixed .top-bar-left-area ul li a:before,
.header-fixed .top-bar-right-area ul li a:before {
    color: #1669a0 !important;
}*/
.header-fixed .top-bar-right-area .dropdown-item:focus,
.header-fixed .top-bar-right-area .dropdown-item:hover {
    color: #333 !important;
}
.header-fixed .top-bar-right-area > ul > li > a > i.fas {
    color: #023e66 !important;
}
.blog-page-area .common-padded-box-header h3 a {
    color: #1d1d1d !important;
}
.header-fixed .popular-search-list {
    scrollbar-color: #1184d3 #0e6098 !important;
}
.header-fixed .popular-search-list::-webkit-scrollbar-track {
    background-color: #0e6098 !important;
}
.header-fixed .popular-search-list::-webkit-scrollbar-thumb {
    background-color: #1184d3 !important;
}
.header-fixed .popular-search-list::-webkit-scrollbar-thumb:hover {
    background-color: #1184d3 !important;
}
.header-fixed .header-menu ul li a span.number,
.header-fixed .menu-cart-button span.number {
    background-color: #003254 !important;
    border-color: #1f7ebe !important;
}
.chat-user-list-header-wrapper {
    border-color: #1f87cd !important;
}
.single-chat-box-outgoing-content {
    background: #1f87cd !important;
    color: #fff !important;
}
.single-chat-box-outgoing-content p {
    color: #fff !important;
}
.header-fixed .header-menu ul li .header-cart > a:hover,
.header-fixed .header-menu ul li.active .header-cart > a,
.header-fixed .header-cart.show > a,
.header-cart.show > a:hover,
.have-store-info .action-links .blanked,
.have-store-info .action-links .blanked:hover {
    background-color: transparent !important;
}
.header-fixed .header-menu ul li a:hover span.number {
    border-color: #1f7ebe !important;
}
.swal2-styled:focus {
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px rgba(31, 135, 205, 0.4) !important;
}
.have-store-area {
    background: rgba(31, 135, 205, 0.07) !important;
}
.top-bar-account-buttons a {
    background: rgba(31, 135, 205, 0.15) !important;
}
.top-bar-account-buttons a:hover {
    background: rgba(31, 135, 205, 0.2) !important;
}
.rewards-deals-results-btn.claim-deal {
    background-color: #444 !important;
    border-color: #333 !important;
}

.rewards-deals-results-btn.claim-deal:hover {
    background-color: #333 !important;
    border-color: #222 !important;
}

.header-fixed .popular-search-list ul li:hover,
.popular-search-list ul li:hover a,
.product-single-options ul li:not(.active) a:hover {
    color: #1d1d1d !important;
}

.table-actions .dropdown-item.view:hover,
.table-actions .dropdown-item.view:active {
    background-color: #3a98fd !important;
}
.table-actions .dropdown-item.edit:hover,
.table-actions .dropdown-item.edit:active {
    background-color: #fdd253 !important;
    color: #1d1d1d !important;
}
.table-actions .dropdown-item.delete:hover,
.table-actions .dropdown-item.delete:active {
    background-color: #bd0d00 !important;
}

.cart-to-payment-links li.active .icon {
    background-color: #ecffed !important;
}

.product-view-button[disabled],
.product-view-button[disabled]:hover {
    background: #6193b5 !important;
    border-color: #6193b5 !important;
}

.seller-profile-form input.seller-form-submit:disabled {
    background-color: #79b1d6 !important;
    border-color: #6ba2c7 !important;
}

/* HD Layout: 1920px. */
@media only screen and (min-width: 1601px) and (max-width: 2200px) {
}

/* Laptop with HDPI: 1440px */
@media only screen and (min-width: 1400px) and (max-width: 1600px) {
}

/* Normal PC: 1366px */
@media only screen and (min-width: 1301px) and (max-width: 1399px) {
}

/* Laptop with MDPI: 1280px */
@media only screen and (min-width: 1201px) and (max-width: 1300px) {
}

/* Medium Layout(iPad Pro): 1024px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .main-menu-area,
    .header-fixed .header-area {
        background: transparent !important;
    }
    .header-fixed {
        background: #2086cb;
        background: -moz-linear-gradient(top, #2086cb 0%, #2e9be5 100%);
        background: -webkit-linear-gradient(top, #2086cb 0%, #2e9be5 100%);
        background: linear-gradient(to bottom, #2086cb 0%, #2e9be5 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e9be5', endColorstr='#2086cb',GradientType=0 );
    }
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .common-padded-box.featured-box {
        border-color: #2e9be5;
    }

    .main-menu-area,
    .header-fixed .header-area {
        background: transparent !important;
    }
    .header-fixed {
        background: #2086cb;
        background: -moz-linear-gradient(top, #2086cb 0%, #2e9be5 100%);
        background: -webkit-linear-gradient(top, #2086cb 0%, #2e9be5 100%);
        background: linear-gradient(to bottom, #2086cb 0%, #2e9be5 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e9be5', endColorstr='#2086cb',GradientType=0 );
    }
}

/* Mobile Layout: 375px. */

@media only screen and (max-width: 767px) {
    .common-padded-box.featured-box {
        border-color: #2e9be5;
    }
    .shop-info .shop-name {
        text-shadow: 1px 1px rgba(31, 135, 205, 0.35);
    }
    .main-menu-area,
    .header-fixed .header-area {
        background: transparent !important;
    }
}

/* Wide Mobile Layout(Nexus 7): 600px. */
@media only screen and (max-width: 610px) {
}

/* Wide Mobile Layout: 480px. */
@media only screen and (max-width: 500px) {
    .shop-info .shop-name {
        text-shadow: 0 0 0;
    }
}

/* Mobile Layout(Samsung Galaxy S5): 360px. */
@media only screen and (max-width: 370px) {
}

/* Mobile Layout(iPhone 4): 320px. */
@media only screen and (max-width: 330px) {
}
*/